/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: #3e64ff;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{ 
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{ 
    color:#3e64ff;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline;
}

.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #3e64ff;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu bar styling */
.menu-btn{
     color: #fff;
     font-size: 23px;
     cursor: pointer;
     display: none;
}

/* scroll up styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 45px;
    background: #3e64ff;
    border-radius: 50%;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* home section styling */
.home{
    display: flex;
    background: url("../images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content a{
    display: inline-block;
    background: #3e64ff;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #3e64ff;
    transition: all 0.5s ease-in;
}

.home .home-content a:hover{
    background: none;
    color: #3e64ff;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: #3e64ff;
    font-weight: 500;
}

/* about section styling */

.about .title::after{
    content: "who am i";
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: #3e64ff;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: #3e64ff;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #3e64ff;
    transition: all 0.5s ease-in;
}

.about .about-content .right a:hover{
    color: #3e64ff;
    background: none;
}

/* services section styling */
.services{
    color: #fff;
    background: #111;
}

.services .title::before{
    background: #fff;
}

.services .title::after{
    background: #111;
    content: "what i provide";
}

.services .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.services .services-content .card .box{
    transition: all 0.5s ease;
}

.services .services-content .card:hover {
    background: #3e64ff;
}

.services .services-content .card:hover i{
    color: #fff;
}

.services .services-content .card:hover .box{
    transform: scale(1.05);
}

.services .services-content .card i{
    font-size: 50px;
    color: #3e64ff;
}

.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* all simillar styling code*/
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

.about .about-content, 
.services .services-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section{
    padding: 100px 0;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: #3e64ff;
    background: #fff;
    transform: translateX(-50%);
}

/* skills section styling */
.skills .title::after{
    content: "what i know";
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left a{
    display: inline-block;
    background: #3e64ff;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #3e64ff;
    transition: all 0.5s ease-in;
}

.skills .skills-content .left a:hover{
    color: #3e64ff;
    background: none;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;

}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #3e64ff;
}

.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .css::before{
    width: 80%;
}
.skills .skills-content .right .javascript::before{
    width: 70%;
}
.skills .skills-content .right .bootstrap::before{
    width: 60%;
}
.skills .skills-content .right .java::before{
    width: 80%;
}
.skills .skills-content .right .android::before{
    width: 90%;
}
.skills .skills-content .right .dart::before{
    width: 70%;
}
.skills .skills-content .right .php::before{
    width: 75%;
}

/* teams section styling */
.teams{
    color: #fff;
    background: #111;
}

.teams .title::before{
    background: #fff;
}

.teams .title::after{
    background: #111;
    content: "what i provide";
}

.teams .title::after{
    content: "who with me";
}

.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.5s ease;
}

.teams .carousel .card:hover{
    background: #3e64ff;
}

.teams .carousel .card:hover img{
    border: 5px solid #111;
}

.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #3e64ff;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #3e64ff !important;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active, .owl-dot:hover{
    background: #3e64ff !important;
}

/* contact section styling */
.contact .title::after{
    content: "get in touch";
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: #3e64ff;
}

.contact .contact-content .info .head{
    font-weight: 500;
}

.contact .contact-content .info .sub-title{
    color: #333;
}

.contact .contact-content .right form .fields{
    display: flex;   
}

.contact .right form .fields,
.contact .right form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid #3e64ff;
    background: #3e64ff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact .right form .button button:hover{
    color: #3e64ff;
    background: none;
}

/* footer section styling */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
}

footer span a{
    color: #3e64ff;
    text-decoration: none
}

footer span a:hover{
    text-decoration: underline;
}

/* responsive media query start */
@media(max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media(max-width: 1104px){
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media(max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media(max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
   }

   .menu-btn i.active:before{
       content: "\f00d";
   }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0%;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2{
        font-size: 70px;
    }  

    .home .home-content .text-3{
        font-size: 35px;
    }

    .home .home-content a{
        font-size: 30px;
        padding: 10px 30px;
    }
    
    .max-width{
        max-width: 800px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }

    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

}

@media(max-width: 690px){
    .max-width{
        padding: 0 23px;
    }

    .home .home-content .text-2{
        font-size: 60px;
    }  

    .home .home-content .text-3{
        font-size: 32px;
    }

    .home .home-content a{
        font-size: 20px;
    }

    .services .services-content .card{
        width: 100%;
    }
}

@media(max-width: 500px){
    .max-width{
        padding: 0 23px;
    }

    .home .home-content .text-2{
        font-size: 50px;
    }  

    .home .home-content .text-3{
        font-size: 27px;
    }
}

